DATABASE_URL=""
APP_PORT=3000


GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
COOKIE_SECRET=""
JWT_SECRET=""

ALLOWED_HOSTS="http://localhost:5173"
AUTH_REDIRECT_URL="http://localhost:3000/auth/google/callback"


PORT=3000
