name: Deploy to EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/chessables/backend_1

            echo "Stopping app"
            pm2 stop index || true

            echo "Pulling latest code"
            git pull origin main

            echo "Building"
            npm install
            tsc -b

            echo "Starting app"
            pm2 start dist/index.js --name index
